# macOS
.DS_Store

# STM32CubeIDE build directories
**/Debug/
**/Release/

# Compiler output
*.o
*.d
*.su
*.cyclo
*.elf
*.map
*.list
*.bin
*.hex
*.srec
*.log

# Computer-specific CubeIDE settings
**/.settings/language.settings.xml
*.launch

# Eclipse workspace
.metadata/
